table.matrix {
	margin-bottom:50px;
	border-collapse:separate;
	border-spacing:2px;
	width:100%;
	max-width:750px;
	table-layout:fixed;
}

table.matrix td {
	padding:15px 0;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:40px;
}

table.matrix td.chance {
	transform:rotate(270deg);
	padding:0;
}

table.matrix td.risk_0 {
	color:#000000;
	background-color:#00c000;
}

table.matrix td.risk_1 {
	color:#000000;
	background-color:#ffc000;
}

table.matrix td.risk_2 {
	color:#000000;
	background-color:#ff6000;
}

table.matrix td.risk_3 {
	color:#000000;
	background-color:#ff0000;
}
