@media (min-width:768px) {
	table.table th {
		width:120px;
	}

	table.table th:first-child {
		width:200px;
		min-width:200px;
	}

	table.table th:last-child {
		width:auto;
	}
}

span.glyphicon-ok {
	color:green;
}

span.glyphicon-remove {
	color:red;
}
